<% const languages = {fr: {language: "française", flag: "qc"}, en: {language:
"English", flag: "ca"} , ar: {language: "عربي", flag: "ae"}}%>
<nav
	class="navbar navbar-expand-lg bg-dark-custom border-bottom shadow-sm fixed-top"
>
	<div class="container">
		<a
			class="navbar-brand text-brand d-flex align-items-center fw-bold"
			href="/"
		>
			<img
				src="/images/logo/logo.png"
				alt="Expertise Logo"
				height="40"
				class="mx-2"
			/>
			<span class="d-none d-md-inline">Conduite Expertise</span>
		</a>

		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#mainNav"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="mainNav">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="/"
						><i class="bi bi-house-door me-1"></i> <%=
						__('navbar.home') %></a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about"
						><i class="bi bi-info-circle me-1"></i> <%=
						__('navbar.about') %></a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/services"
						><i class="bi bi-gear me-1"></i> <%=
						__('navbar.services') %></a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/booking"
						><i class="bi bi-calendar-check me-1"></i> <%=
						__('navbar.booking') %></a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact"
						><i class="bi bi-envelope me-1"></i> <%=
						__('navbar.contact') %></a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about#reviews">
						<i class="bi bi-star me-1"></i> <%= __('navbar.reviews')
						%>
					</a>
				</li>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle d-flex align-items-center"
						href="#"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						<img
							src="/images/flags/<%= languages[currentLang].flag %>.svg"
							alt="<%= currentLang %>"
							width="20"
							height="20"
							class="mx-1"
						/>
						<span> <%= languages[currentLang].language %></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-end">
						<% for (let code in languages) { %>
						<li>
							<a
								class="dropdown-item d-flex align-items-center"
								href="?lang=<%= code %>"
							>
								<img
									src="/images/flags/<%= languages[code].flag %>.svg"
									alt="<%= code %>"
									width="20"
									height="20"
									class="mx-1"
								/>
								<%= languages[code].language %>
							</a>
						</li>
						<% } %>
					</ul>
				</li>
				<li class="nav-item d-none d-lg-block">
					<a
						class="btn btn-outline-danger btn-sm ms-2"
						href="#review"
					>
						<i class="bi bi-heart-fill"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
