<section id="services" class="py-5 text-center container">
	<h1 class="display-4 mb-4"><%= __('services.title') %></h1>
	<p class="lead"><%= __('services.subtitle') %></p>

	<div class="row mt-4 g-4">
		<div class="our_services col-md-4">
			<div class="card h-100 p-3">
				<img
					src="/images/services/improvement_lessons.png"
					class="mb-2"
				/>
				<i class="bi bi-speedometer2 display-4 text-brand mb-2"></i>
				<h5><%= __('services.improvement_lessons') %></h5>
				<p><%= __('services.improvement_lessons_desc') %></p>
				<a href="/booking/improvement_lessons" class="btn btn-booking">
					<i class="bi bi-calendar-check mx-1"></i>
					<%= __('common.book_now') %>
				</a>
			</div>
		</div>
		<div class="our_services col-md-4">
			<div class="card h-100 p-3">
				<img src="/images/services/car_rental.png" class="mb-2" />
				<i class="bi bi-car-front display-4 text-brand mb-2"></i>
				<h5><%= __('services.car_rental') %></h5>
				<p><%= __('services.car_rental_desc') %></p>
				<a href="/booking/car_rental" class="btn btn-booking">
					<i class="bi bi-calendar-check mx-1"></i>
					<%= __('common.book_now') %>
				</a>
			</div>
		</div>
		<div class="our_services col-md-4">
			<div class="card h-100 p-3">
				<img src="/images/services/driving_courses.png" class="mb-2" />
				<i class="bi bi-book display-4 text-brand mb-2"></i>
				<h5><%= __('services.full_courses') %></h5>
				<small class="fst-italic text-danger bg-light-custom"
					><%=__('sister_school.through')%></small
				>
				<p><%= __('services.full_courses_desc') %></p>
				<a
					href="https://wa.me/15145578710"
					class="btn btn-booking"
					target="_blank"
					rel="noopener"
				>
					<i class="bi bi-whatsapp mx-1"></i>
					<span dir="ltr"> +1 (514) 557‑8710</span>
				</a>
			</div>
		</div>
	</div>
</section>
